{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true,
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
  },
  "rules": {
    "no-console": "warn",
    "curly": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": [2, {"vars": "all", "args": "after-used"}]
  }
}
